@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  pad: 0;
  gap: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "CODEBold";
  src: url("/CODE_bold.otf");
}

@font-face {
  font-family: "CODELight";
  src: url("/CODE_light.otf");
}

@font-face {
  font-family: "Josefin";
  src: url("/JosefinSans.ttf");
}

h1 {
  -webkit-text-stroke: 4px;
}

@media (min-width: 768px) {
    h1 {
        -webkit-text-stroke: 10px;
    }
}
